{% extends 'skel.tmpl' %}

{% block content %}

<style>
  #toggle {
    width: 100px;
    height: 100px;
    background: #ccc;
  }
</style>
<script>

//Funktion um eine Tolle Nachrichten Box zu zeigen
function setAside(content){
  if (content == "") { //entfernen wenn kein inhalt
    document.getElementById("demo").innerHTML = "";
  } else {
    document.getElementById("demo").innerHTML = "<aside><p>"+content+"</aside>";
  }
}

//Hilfsmethode zum Entfernen der MessageBox
function removeAside(){
  setAside("");
}

//Methode um einen neuen Benutzer in die Tabelle oben einzufügen
function addUserToNewRow(username,fullname,role,password){
    table = document.getElementById("usertable"); //die tabelle
    var row = table.insertRow(1); //hinter den tabellen koepfen einfuegen
    row.id = "row-"+username;
    var cellUN = row.insertCell(0);
    cellUN.innerHTML = username;
    var cellFN = row.insertCell(1);
    cellFN.innerHTML = fullname;
    var cellRO = row.insertCell(2);
    cellRO.innerHTML = role;
    var cellPW = row.insertCell(3);
    cellPW.innerHTML = password;
    var cellDN = row.insertCell(4);
    cellDN.innerHTML = '<a href="useradmin/delete/'+username+'">Löschen</a></td>'; //der normale delete button
    var cellDA = row.insertCell(5); //der ajax delete button
    cellDA.innerHTML = `<button id="deleteButton-`+username+`" type="button" class="pure-button button-primary" onclick="deleteUser('`+username+`')">AJAX Delete</button>`;
}

//Create User via AJAX
function createUser(){
    form = document.getElementById("createUserForm"); //form auslesen
    let formData = new FormData(form);
    let parsedData = {};
    for(let name of formData) { //nur gefuellte und bekannte felder fuellen
      if (typeof(parsedData[name[0]]) == "undefined") {
        let tempdata = formData.getAll(name[0]);
        if (tempdata.length > 1) {
          parsedData[name[0]] = tempdata;
        } else {
          parsedData[name[0]] = tempdata[0];
        }
      }
    }

    let options = {};
    switch ('post') { //an dieser stelle immer post
      case 'post':
        options.body = JSON.stringify(parsedData);
      case 'get': //falls man noch get brauchen wuerde fuer andere zwecke
        options.method = this.method;
        options.headers = {'Content-Type': 'application/json'};
      break;
    }

    //Daten gesammelt, nun absenden
    var XHR = new XMLHttpRequest();
    var urlEncodedData = "";
    var urlEncodedDataPairs = [];

    for(var name in parsedData) { //alle form daten encoden
        urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(parsedData[name]));
    }
    urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+'); // parse object into urlEncoded String

    XHR.addEventListener('load', function(event) { //wenn daten gesendet
        console.log('Data sent.');
    });
    XHR.onreadystatechange = function() { //wenn sich der state aendert
        if (this.readyState == 4 && this.status == 200) { //wenn erfolgreich
          //console.log("Nice");
          setAside(this.responseText); //popup message
          setTimeout(removeAside, 5000); //lass diese nach einiger zeit verschiwnden
          addUserToNewRow(parsedData["username"],parsedData["fullname"],parsedData["role"],parsedData["password"]); //tabelle anpassen
        }
        if (this.readyState == 4 && this.status == 400) { //wenn fehler
          setAside("Error: "+this.responseText); //zeige diesen
        }
    };

    XHR.open('POST', 'useradmin/createAJAX'); //wohin absenden? bzw. welche methode callen
    XHR.send(urlEncodedData); // send the form
}

//Methode zum loeschen eines users via AJAX
function deleteUser(username) {
    var userRow = document.getElementById("row-"+username); // an dieser stelle let oder var nutzen, damit bei mehrfachen aufruf die variable nicht überschrieben wird
    var deleteButton = document.getElementById("deleteButton-"+username);
    deleteButton.style.display = "none"; //erlaube kein doppeltes loeschen
    setAside("Send AJAX Request, this is to see it don't reload"); //just to show the user we are alive
    let options = {};
    switch ('post') { //an dieser stelle immer post
        case 'post':
            options.body = JSON.stringify({"username":username});
        case 'get': //falls man noch get brauchen wuerde fuer andere zwecke
            options.method = this.method;
            options.headers = {'Content-Type': 'application/json'};
        break;
    }

    //Daten gesammelt, nun absenden
    var XHR = new XMLHttpRequest();
    var urlEncodedData = "";
    var urlEncodedDataPairs = [];

    urlEncodedDataPairs.push(encodeURIComponent("username") + '=' + encodeURIComponent(username));
    urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+'); // parse object into urlEncoded String

    XHR.addEventListener('load', function(event) { //wenn daten gesendet
        console.log('Data sent.');
    });
    XHR.onreadystatechange = function() { //wenn sich der state aendert
        if (this.readyState == 4 && this.status == 200) { //wenn erfolgreich
          deleteButton.style.display = "block"; //zeige den loesch block, eig. egal da die reihe eh geloescht wird
          setAside(this.responseText); //popup message
          setTimeout(removeAside, 5000); //lass diese nach einiger zeit verschiwnden
          //an dieser stelle nicht user row nehmen, da es sich verändert.
          userRow.parentNode.removeChild(userRow);
          //document.getElementById("row-"+username).parentNode.removeChild(document.getElementById("row-"+username)); //entferne zeile
        }
        if (this.readyState == 4 && this.status == 400) {
          setAside("Error: "+this.responseText);

        }
    };

    XHR.open('POST', 'useradmin/deleteAJAX'); //wohin absenden? bzw. welche methode callen
    XHR.send(urlEncodedData); // send the form
}

</script>

<div id="demo"></div>

	<h1>User Management</h1>
    {% autoescape off %}
	<table id="usertable" class="pure-table">
	    <thead>
    	    <tr>
    	        <th>Username</th>
    	        <th>Full name</th>
    	        <th>Role</th>
    	        <th>Password</th>
    	        <th>Action</th>
    	        <th>AJAX Action</th>
            </tr>
        </thead>

        {% for user in userlist: %}
	    	<tr id="row-{{user.username}}">
			<td>{{user.username}}</td>
			<td>{{user.fullname}}</td>
			<td>{{user.role}}</td>
			<td>{{user.password}}</td>
			<td><a href="useradmin/delete/{{user.username}}">Löschen</a></td>
			<td><button id="deleteButton-{{user.username}}" type="button" class="pure-button button-primary" onclick="deleteUser('{{user.username}}')">AJAX Delete</button></td>
			</tr>
		{% endfor %}

	</table>

    <p>&nbsp;</p>

	<h2>Create new user</h2>

	<form id="createUserForm" action="useradmin/create" method="post" class="pure-form pure-form-stacked">
		<fieldset>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="">

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" value="">

            <label for="username">Permissions:</label>
            <select size=0 name="role">
                <option name="user" value="user">user</option>
                <option name="admin" value="admin">admin</option>
            </select>

            <label for="username">Full Name:</label>
            <input type="text" id="fullname" name="fullname" size=40>

            <button type="submit" value="save" class="pure-button button-primary">Create user</button>
            <button id="createButton" type="button" class="pure-button button-primary" onclick="createUser()">AJAX Create</button>
		</fieldset>
	</form>
    {% endautoescape %}

{% endblock %}